input,select,option:focus {
  /* background-color: #f0f2f2f0 !important; */
  outline: none;
  outline: chocolate;
}
input,select,option:active {
  /* background-color: #f0f2f2f0 !important; */
  outline: none;
  outline: chocolate;
}
textarea:focus {
  background-color: #f0f2f2f0 !important;
  outline: none;
}