@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* .color {
  color: #ff5a00;
}

.hoverColor{
  color: #ff5a00;
}

.bgColor {
  background-color: #ff5a00;
}

.hoverBg {
  background-color: #ff5a00;
} */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

li:hover {
  color: #ff5a00;
}

.dashboard li {
  margin: 0.8rem;
  position: relative;
  transition: 0.5s all;
}

.dashboard li:hover a {
  color: #ff5a00 !important;
}

.dashboard li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1.7px;
  background-color: #ff5a00;
  bottom: -3px;
  right: 0;
  transition: width 0.3s ease-out;
}

.dashboard li:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.dashboard li a.active,
.dashboard li a:hover,
.dashboard li a:focus {
  color: #ff5a00 !important;
  box-shadow: none !important;
  text-decoration: none;
  transition: 0.5s all;
}

.clip-path-left {
  clip-path: polygon(0 0, 0 100%, 25% 100%, 20% 0);
}

.clip-path-right {
  clip-path: polygon(0 0, 0 0, 85% 0, 25% 100%);
}

.button-hover {
  transition: letter-spacing 0.3s ease; /* Smooth transition */
}

.button-hover:hover {
  letter-spacing: 1px; /* Adjust spacing as needed */
}

.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
}

.mobile-menu.open {
  transform: translateX(0);
}
